<h1>Checbox</h1>
<sscheckbox items="checkboxItems" option="option" ontoggle="onToggle" id="checkbox-id"></sscheckbox>
<h1>Radio Button</h1>
<ssradio items="radioItems" option="option" onchange="onToggle" id="radio-id" selected="selectedRadioItem"></ssradio>

<h1>Multi</h1>
<div class="options" ssloading>
	<div class="spinner"></div>
	<ul class="selection-list">
		<ssradio items="radioItems" option="option" onchange="onToggle" id="radio-id" selected="selectedRadioItem"></ssradio>
		<ssradio items="radioItems" option="option" onchange="onToggle" id="radio-id" selected="selectedRadioItem"></ssradio>
		<ssradio items="radioItems" option="option" onchange="onToggle" id="radio-id" selected="selectedRadioItem"></ssradio>
	</ul>
</div>